$primary-color: #3b6e98;
$color-one: #17bebb;
$color-two: #2e282a;
$color-three: #cd5334;
$color-four: #edb88b;
$color-five: #fad8d6;
$font-base-size: 18px;
$font-grow-size: 6px;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$border-radius: 15px;
